<div class="col-lg-12">
  <div class="areas-template row">

	<div class="cardapio-title">Suporte</div><br>
    <div class="panel-body">
		            
        A Cenário Virtual é especialista em serviços profissionais de suporte Linux para ambientes corporativos e de alta disponibilidade, com atuação de mais de 10 anos neste segmento. Investindo sempre em profissionais certificados pelo LPI (Linux Professional Institute) níveis 1, 2 e 3, os clientes e parceiros poderão contar com a qualidade que precisam na execução de serviços em seus servidores Linux.


            <div class="col-lg-12">
              <div class="bs-example bs-example-tabs">
                <ul id="myTab" class="nav nav-tabs">
                  <li class="active"><a href="#ferramentas" data-toggle="tab">Ferramentas e Funcionalidades</a></li>
                  <li class=""><a href="#contratos" data-toggle="tab">Contratos disponíveis</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                  <div class="tab-pane fade active in" id="ferramentas">* Relatórios mensais de nível de serviço e operação dos serviços;
* Além do atendimento via telefone e email, o cliente conta com a abertura e acompanhamento de chamados via Help Desk Web, com acesso a relatórios e qualificação do atendimento;
* Serviço de monitoramento pró-ativo de serviços e links, para interações imediatas;
* Ação preventiva e corretiva de incidentes e agendamento de interações programadas com prazos estipulados em contrato;
* Estrutura de profissionais qualificados, para garantir qualidade técnica no atendimento.
                  </div>
                  <div class="tab-pane fade" id="contratos">
                     * 8x5x4: suporte 8 horas por dia, 5 dias na semana, com prazo de resolução de incidentes em até 4 horas
* 12x7x4: suporte 12 horas por dia, 7 dias na semana, com prazo de resolução de incidentes em até 4 horas
* 24x7x4: suporte 24 horas por dia, todos os dia, com prazo de resolução de incidentes em até 4 horas
                  </div>
                </div>
              </div>
            </div>





      	</div>  
	</div>
</div>    		

