<div class="col-lg-12">
  <div class="areas-template row">
    <br>
    <div class="panel-group col-lg-12" id="accordion">
      <div class="cardapio-title">Nossos Serviços</div><br>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
          <span class="area-arrow">&#9658;</span> Projetos de Redes </a>
          </h4>
        </div>
        <div id="collapseSix" class="panel-collapse collapse">
          <div class="panel-body">
            
            <div class="service-general">

Na Cenário Virtual o projeto de redes pode ser implementado utilizando produtos de empresas especializadas ou até mesmo através de soluções Open Source. Não defendemos a posição de um fabricante específico.
</div>


                <div class="col-lg-12">
                  <div class="bs-example bs-example-tabs">
                    <ul id="myTab" class="nav nav-tabs">
                      <li class="active"><a href="#analiserede" data-toggle="tab">Análise de Redes</a></li>
                      <li class=""><a href="#seguranca" data-toggle="tab">Segurança</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                      <div class="tab-pane fade active in" id="analiserede"><p>Serviço voltado para empresas que já possuam uma estrutura implementada.</p>
<p>Promovemos uma análise detalhada na estrutura atual, certificando todo o cabeamento e viabilizando um estudo detalhado quanto à performance dos servidores e estações de rede.</p>

<p>Seja wireless, fibra ótica, cabeamento estruturado ou uma rede mista entre estas tecnologias, conte com:</p>

<p>- Cabeamento estruturado<br>
- Certificação<br>
- Planejamento de capacidade (Capacity Planing) de redes<br>
- Tunning e análises de performance<br>
- LOAD BALANCE</p>
                      </div>
                      <div class="tab-pane fade" id="seguranca">
                         Com o crescente aumento de ameaças e ataques virtuais, é de preocupação geral das empresas a segurança de seus servidores e de suas informações.
Administramos e implantamos sistemas e políticas de segurança máxima.
                      </div>
                    </div>
                  </div>
                </div>





          </div>
        </div>
      </div>
      
      
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
          <span class="area-arrow">&#9658;</span> OutSourcing </a>
          </h4>
        </div>
        <div id="collapseSeven" class="panel-collapse collapse">
          <div class="panel-body">
            
            <div class="service-general"><p>Para as organizações modernas, manter uma equipe de suporte em TI qualificada para atender as necessidades internas da empresa constitui um ponto de muita discussão.</p>
<p>Para acompanhar a demanda e a competitividade do mercado, as empresas passam a direcionar os recursos disponíveis para atividades de fins específicos, que são efetivamente o foco do negócio e a competência central da empresa.</p>
<p>O outsourcing de TI auxilia as empresas neste ponto, cuidando da estrutura de suporte em TI em toda a sua extensão.</p></div>


                <div class="col-lg-12">
                  <div class="bs-example bs-example-tabs">
                    <ul id="myTab" class="nav nav-tabs">
                      <li class="active"><a href="#analiserede" data-toggle="tab">Vantagens</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                      <div class="tab-pane fade active in" id="analiserede"><p>Redução de custos:<br> Todos os encargos trabalhistas com funcionários, bem como investimentos em treinamentos e aquisição de conhecimento específico, não oneram mais a organização, melhorando o controle dos custos operacionais.</p>
<p>Foco no negócio:<br> Sua empresa remove as preocupações com a estrutura de suporte em TI, concentrando os recursos em crescer e ganhar espaço em seu mercado específico.</p>
<p>Flexibilidade:<br> Nossas opções de contratação do OutSourcing são extremamente flexível. Nos adequamos ao seu negócio, e não o contrário.</p>
                      </div>
                    </div>
                  </div>
                </div>





          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
          <span class="area-arrow">&#9658;</span> Virtualização </a>
          </h4>
        </div>
        <div id="collapseEight" class="panel-collapse collapse">
          <div class="panel-body">
            
            <div class="service-general"><p>Atuamos fortemente no segmento de virtualização, com diversos projetos envolvendo desde a migração a partir de ambientes convencionais, a cenários de alta disponibilidade, utilizando hypervisors de virtualização.</p>

<p>Com <strong>projetos executados</strong> e <strong>cases documentados</strong> em diversos cenários e ambientes, a <strong>Cenário Virtual</strong> especializa-se na implantação de ambientes de virtualização, utilizando desde hypervisors Linux Opensource como Xen e KVM, até as mais completas soluções como VMWare e Citrix XenServer.</p></div>


                <div class="col-lg-12">
                  <div class="bs-example bs-example-tabs">
                    <ul id="myTab" class="nav nav-tabs">
                      <li class="active"><a href="#analiserede" data-toggle="tab">Somos especializados e capacitados para operar em:</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                      <div class="tab-pane fade active in" id="analiserede"><p><strong>Migração de servidores físicos para ambientes virtuais:</strong><br> Migre para uma solução de virtualização sem a necessidade de reinstalar os servidores.</p>
<p><strong>Consolidação de datacenters:</strong><br> Necessidades de uniformidade, documentação, padronização são comuns a datacenters.</p>
<p><strong>Estruturas de redundância e backup de ambientes virtuais:</strong><br> A virtualização como provedor de recursos avançados de disponibilidade, para ambientes que não podem parar.</p>
<p><strong>Implantação e consultoria em ambientes de Cloud Computing:</strong><br> Cenários onde a computação em nuvem já é necessidade de trabalho.</p>
                      </div>
                    </div>
                  </div>
                </div>





          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
          <span class="area-arrow">&#9658;</span> Servidor de e-mail e colaboração - ZIMBRA </a>
          </h4>
        </div>
        <div id="collapseNine" class="panel-collapse collapse">
          <div class="panel-body">
                <div class="col-lg-12">
                  <div class="bs-example bs-example-tabs">
                    <ul id="myTab" class="nav nav-tabs">
                      <li class="active"><a href="#zimbra" data-toggle="tab">ZIMBRA</a></li>
                      <li class=""><a href="#diferenca" data-toggle="tab">Qual é a vantagem do ZIMBRA?</a></li>
                      <li class=""><a href="#comcenario" data-toggle="tab">ZIMBRA com a Cenário Virtual</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                      <div class="tab-pane fade active in" id="zimbra">É uma suíte colaborativa para ambientes corporativos extremamente eficaz. Trata-se da solução líder em serviços de email OpenSource, que ultrapassou <strong>50 milhões de usuários em todo o mundo</strong>.
                      </div>

                      <div class="tab-pane fade" id="diferenca"><p>Webclient extremamente flexível e fácil de usar (em Ajax), permite que o usuário gerencie seus <strong>emails, agenda, contatos, pastas e arquivos</strong>, compartilhando todos estes recursos com outros usuários da empresa. O webclient possui também um serviço de mensagens instantâneas, para uso corporativo e interno.</p>
<p>Recursos avançados para <strong>Smartphones (Iphone, Blackberry, Android, Symbiam e outros)</strong>.</p>

<p>Recursos avançados de sincronização com <strong>Apple Mail e MS Outlook</strong>.</p>
<p>Painel administrativo em Ajax facilmente gerenciável.</p>
                      </div>
                      <div class="tab-pane fade" id="comcenario">

<p>Instalação Zimbra na sua empresa, com migração total de contas e dados do servidor antigo, consultoria e capacity planning.</p>
<p>Hosting Zimbra em datacenter.</p>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
        </div>
      </div>




      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
          <span class="area-arrow">&#9658;</span> VPN </a>
          </h4>
        </div>
        <div id="collapseTen" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="col-lg-11">

                  
                  <p>Serviços de VPN são fundamentais para empresas. Seja para interligar filiais ou escritórios remotos, ou para manter usuários conectados via internet de maneira segura às aplicações da empresa.</p>

<p>A Cenário Virtual atende o mercado de VPN de maneira completa. Tanto na implantação completa da solução, quanto no monitoramento e gerência, <strong>para que não ocorra interrupção nos serviços</strong>.</p>

<p><strong>Implantação de Gateways de VPN:</strong><br> Servidores ou appliances centralizados para gerência dos túneis remotos, de maneira flexível e simples.</p>
<p><strong>Implantação de sites remotos de VPN em tecnologias mistas:</strong><br> Em ambientes de tecnologia mista, como por exemplo Cisco e Linux, a Cenário Virtual oferece o suporte a implantação de túneis.</p>
<p><strong>Flexibilidade de tecnologia:</strong><br> Trabalhamos com IPSec, VPN sobre SSL, GRE dentre vários outros protocolos.</p>
<p><strong>Implantação de filiais em modo estrela ou MESH.</strong></p>
<p><strong>Soluções de redundância em Linux e appliances:</strong><br> Para ambiente que precisam de alta disponibilidade.</p>
              </div>




          </div>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">
          <span class="area-arrow">&#9658;</span> Consultoria LINUX </a>
          </h4>
        </div>
        <div id="collapseEleven" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="service-general"><p>Com <strong>profissionais certificados internacionalmente</strong> por órgãos como o <strong>Linux Professional Institute (LPI níveis 1, 2 e 3)</strong>, nós da Cenário Virtual somos <strong>especialistas</strong> no segmento de software livre.</p>

<p>Para organizações que já têm o Linux instalado, disponibilizamos serviços de consultoria, além de administração, suporte e o aprimoramento necessário.</p><p> Para empresas aonde ainda se estuda a incorporação desse sistema operacional, promovemos a elaboração de análise, projeto, implementação e certificação do parque instalado, com todas as especificações e padrões de qualidade necessários.</p></div>

                <div class="col-lg-12">
                  <div class="bs-example bs-example-tabs">
                    <ul id="myTab" class="nav nav-tabs">
                      <li class="active"><a href="#destaque" data-toggle="tab">Segmentos em que a Cenário Virtual se destaca utilizando o Linux.  </a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                      <div class="tab-pane fade active in" id="destaque"><p><strong>Segurança:</strong><br> Uma excelente opção para implementações de firewalls, filtros de conteúdo, IDS (Intrusion Detection Systems), IPS (Intrusion Prevention Systems), Honey Pots dentre outros.</p>

<p><strong>Banco de Dados:</strong><br> Muitas organizações que procuram sistemas robustos, com alta disponibilidade, segurança e desempenho tem optado por manter bancos de dados como Oracle, PostgreSQL, Firebird, MySQL dentre outros, no Linux.</p>

<p><strong>Networking:</strong><br> No segmento de redes, para serviços complexos e seguros o sistema promove: roteamento avançado: utilizando mecanismos flexíveis de roteamento e repasse de pacotes; </p>
<p><strong>balanceamento de links:</strong><br> com qualidade e segurança, tolerância a falhas e priorização de tráfego; </p>
<p><strong>QoS:</strong><br> para quem precisa priorizar o tráfego, garantir qualidade de serviço para aplicações diversas como VoIP dentre outras; </p>
<p><strong>Instant Messaging:</strong><br> para organizações que precisam manter um serviço de mensagens instantâneas internas, sem utilizar os comuns (MSN Messenger, Skype, Yahoo! Messenger, Google Talk etc).</p>
                      </div>
                    </div>
                  </div>

                </div>





          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">
          <span class="area-arrow">&#9658;</span> Servidor LINUX / WINDOWS </a>
          </h4>
        </div>
        <div id="collapseTwelve" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="service-general"><p>Atualmente, em pesquisas realizadas em diversos provedores de serviços e datacenters mundiais, constatou-se que o Linux é o sistema operacional para servidor mais popular e mais usado no mundo. O servidor linux, que antes era apenas uma opção, passou a ser a primeira opção de escolha no provimento de muitos serviços para TI.</p>
<p>O crescimento no uso do Linux possui relação direta com o crescimento da Internet, e isto não é por acaso. As características deste sistema operacional criado por Linux Torvalds, fazem com que ele seja extremamente seguro e a escolha preferida para o fornecimento de serviços de internet.</p>

<p>Há muito tempo, quem pensa em criar um servidor Web, DNS ou Email nem cogita em usar outro sistema operacional que não seja o Linux. Hoje, a gama de serviços fornecidos cresceu muito em quantidade e qualidade.</p></div>

                <div class="col-lg-12">
                  <div class="bs-example bs-example-tabs">
                    <ul id="myTab" class="nav nav-tabs">
                      <li class="active"><a href="#atua" data-toggle="tab">Alguns dos segmentos que a Cenários Virtual atua, no projeto e suporte a servidor LINUX</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                      <div class="tab-pane fade active in" id="atua">
                        <p><strong>SERVIDOR ARQUIVOS:</strong><br> veja neste artigo, como o linux pode ser efetivo nesta função, em ambiente totalmente linux ou híbridos.</p>

<p><strong>SERVIDOR EMAIL:</strong><br> mais informações aqui sobre projetos de servidor de email, desde projetos mais simples até ambiente complexos de messaging, com clusterização.</p>

<p><strong>SERVIDOR DNS:</strong><br> para resolução de nomes, projetos de redundância, loadbalance, alta disponibilidade e segurança. Utilizando os recursos do DNSSEC, e gerência avançada.</p>

<p><strong>SERVIDOR WEB:</strong><br> para aplicações web, seja utilizando Apache, ou outros servidores de aplicação como Tomcat, JBoss e outros. A Cenário Virtual atua fortemente em projetos de loadbalance e alta disponibilidade de serviços.</p>

<p><strong>SERVIDOR BANCO DE DADOS:</strong><br> soluções especializadas em MySQL e PostgreSQL, para ambientes simples e complexos, com rotinas de replicação, cluster loadbalance.</p>

<p><strong>SERVIDOR INTERNET:</strong><br> utilizando recursos de roteamento avançado e módulos desenvolvidos de maneira personalizada, serviços de loadbalance e failover usando diversos links de internet simultâneos, filtragem de tráfego, serviços de proxy diversos para http e mensagens instantâneas.</p>

<p><strong>SERVIDOR COLABORAÇÃO:</strong><br> serviços de colaboração usando Zimbra e outras ferramentas que possibilitam aos usuários o compartilhamento dos recursos de maneira inteligente.</p>

<p><strong>SERVIDOR VPN:</strong><br> usando o Linux como concentrador de VPN, fechando túneis com appliances e equipamentos diversos nas pontas.</p>

<p><strong>SERVIDOR MONITORAMENTO:</strong><br> como utilizar o Linux para monitorar a estrutura de serviços e servidores, utilizando ferramentas como Nagios, Zabbix, Zenoss e outros.</p>

<h5>LINUX & WINDOWS</h5>

<p>Para empresas que mantêm nas estações de usuário o Windows, e precisam de uma solução alternativa aos sistemas operacionais de servidores Windows (2003 e 2008) de melhor custo benefício, prestamos serviços de projeto e implementação de domínios Samba em grande semelhança com os domínios NT e Active Directory. Dentre as funcionalidades principais de um domínio Samba, podemos enumerar:</p>

<p><strong>Gerenciamento e centralização de perfis de usuário</strong><br>
<strong>Gerenciamento e centralização de scripts logon</strong><br>
<strong>SSO (Single Sign On): um login e senha para acesso a múltiplos serviços</strong><br>
<strong>Autenticação integrada com proxy e filtro de conteúdo</strong><br>
<strong>Centralização de todos os dados pessoais de usuários, emails, catálogos de endereços, tarefas etc.</strong><br></p>

<p><strong>DNS:</strong> Para servidores de nomes de domínio (DNS), conte com o auxilio da Cenário Virtual para todo o projeto, implementação e implantação, garantindo toda a robustez que este serviço exige para o seu negócio.</p>
 
<p><strong>EMAILS:</strong> Para correio provemos projetos customizados, englobando segurança e funcionalidades avançadas para Messaging.</p>


                      </div>
                    </div>
                  </div>

                </div>





          </div>
        </div>
      </div>
      

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen">
          <span class="area-arrow">&#9658;</span> Cluster LINUX </a>
          </h4>
        </div>
        <div id="collapseThirteen" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="service-general"><p>A alta disponibilidade é hoje imprescindível para muitas empresas e negócios, gerando necessidades de serviços e profissionais especializados, cujo objetivo central é não haver interrupção nos serviços oferecidos.</p>

<p>Para cenários que necessitam de alta disponibilidade (high availability - ha), a Cenário Virtual promove diversos serviços utilizando cluster linux. Hoje, o sistema do pinguim conta com poderosas ferramentas livres, que gerenciam com eficiência e qualidade estes serviços.</p>

<p>Utilizando diversas soluções de mercado, além das poderosas ferramentas OpenSource, realizamos projetos e implementação de cluster linux. Em primeiro lugar, é preciso saber qual cluster atenderá a necessidade do cliente, por isso, o trabalho começa na elaboração do projeto, com levantamento de requisitos e modelagem da solução.</p>

<p>Definido o modelo, passamos à fase de implantação efetiva do cluster linux, que é seguida dos testes de disponibilidade, os quais simulam problemas que poderiam ocorrer no ambiente em produção.</p>

<p>Ativar o cluster linux de alta disponibilidade é apenas a primeira fase: é preciso mantê-lo funcionando. Para garantir disponibilidade constante é preciso todo um esforço de monitoramento detalhado da estrutura, além da gerência efetivamente qualificada dos serviços.</p></div>

                <div class="col-lg-12">
                  <div class="bs-example bs-example-tabs">
                    <ul id="myTab" class="nav nav-tabs">
                      <li class="active"><a href="#atua" data-toggle="tab">Serviços de Cluster LINUX</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                      <div class="tab-pane fade active in" id="atua">
                        <p>Dentre os serviços de cluster linux que executamos, incluem-se:</p>
 
<strong>Cluster web (apache, tomcat)</strong><br>
<strong>Cluster de banco de dados (mysql, postgresql)</strong><br>
<strong>Cluster de rede (DNS, samba, ldap)</strong><br>

                      </div>
                    </div>
                  </div>

                </div>





          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen">
          <span class="area-arrow">&#9658;</span> Firewall LINUX </a>
          </h4>
        </div>
        <div id="collapseFourteen" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="service-general"><p>A utilização de Linux como solução de firewall vem crescendo de maneira expressiva, graças ao alto nível de confiabilidade e segurança deste sistema operacional.</p>

<p>Com especialistas certificados, a Cenário Virtual possui largo portfólio na implantação e gestão de firewall linux para segurança e servidor de internet. Isto porque, possuindo módulos desenvolvidos internamente, a Cenário Virtual fornece soluções personalizadas para sua estrutura.</p>

<p>Dentre as funções básicas que este serviço possibilita, as seguintes são as principais:</p></div>

                <div class="col-lg-12">
                  <div class="bs-example bs-example-tabs">
                    <ul id="myTab" class="nav nav-tabs">
                      <li class="active"><a href="#firewall" data-toggle="tab">Módulo Firewall</a></li>
                      <li class=""><a href="#roteamento" data-toggle="tab">Módulo Roteamento Avançado</a></li>
                      <li class=""><a href="#proxy" data-toggle="tab">Módulo Proxy (Necessário Firewall)</a></li>
                      <li class=""><a href="#gerencia" data-toggle="tab">Módulo Gerência (Necessário Firewall)</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                      <div class="tab-pane fade active in" id="firewall"><p><strong>Firewall Stateful:</strong><br> capaz de analisar os pacotes pelo estado e tipo da conexão, tratando o tráfego de maneira inteligente e eficaz.</p>
<p><strong>Segurança avançada:</strong><br> módulos que trabalham dentro do firewall e promovem a defesa contra diversos tipos de ataques, como DDoS e outros.</p>
<p><strong>Política de QoS:</strong><br> implementa qualidade de serviço no firewall, priorizando conexões como voz e vídeo.</p>
<p><strong>Controle de Banda:</strong><br> promove, junto com o firewall, a classificação de tráfego para controle banda de acordo com o perfil de conexão.</p>
<p><strong>Interface web:</strong><br> facilita a gerência e configuração, para profissionais que não possuem experiência com Linux ou firewall.</p>
                      </div>

                      <div class="tab-pane fade" id="roteamento"><p><strong>Load Balance:</strong><br> possibilita o balanceamento de carga entre dois ou mais links de internet (ou links ponto a ponto).</p>
<p><strong>FailOver:</strong><br> em cenários de dois ou mais links, este serviço monitora os links e, em caso de queda, redireciona o tráfego para o(s) link(s) ativo(s).</p>
<p><strong>Políticas de Roteamento:</strong><br> possibilita definir diversas opções de roteamento, entre links, entre redes, entre hosts.</p>

<p><strong>Recursos avançados de sincronização com Apple Mail e MS Outlook.</strong></p>
<p><strong>Painel administrativo também em Ajax com facilidade de gerência.</strong></p>
                      </div>
                      <div class="tab-pane fade" id="proxy"><p><strong>Cache:</strong> economiza banda e agiliza o tráfego http dos sites mais acessados.</p>
<p><strong>Filtro de conteúdo:</strong><br> possibilita bloqueios de diversos tipos para sites e conteúdos disponíveis na internet.</p>
<p><strong>Autenticação:</strong><br> possibilita autenticar usuários a partir de um domínio samba, active directory, ldap e diversos outros meios.</p>
<p><strong>Controle de Mensagens Instantâneas:</strong><br> possibilita o filtro e controle de IM (Instant Messaging) como messenger e outros, incluindo gerência de conversas e histórico.</p>
                      </div>
                      <div class="tab-pane fade" id="gerencia"><p>Engloba ferramentas de controle e gestão de tráfego, como relatórios de uso de link, de páginas acessadas, com o objetivo de favorecer ao administrador o status do seu servidor SSL, GRE e tantos outros protocolos.</p>
<p><strong>Implantação de filiais em modo estrela ou MESH.</strong></p>
<p><strong>Soluções de redundância em Linux e appliances:</strong> para ambientes que precisam de alta disponibilidade.</p>
                      </div>
                    </div>
                  </div>

                </div>





          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFiveteen">
          <span class="area-arrow">&#9658;</span> Servidor de Arquivos / Storage </a>
          </h4>
        </div>
        <div id="collapseFiveteen" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="service-general">O Linux destaca-se como servidor de arquivos para ambientes corporativos, oferendo funcionalidades e recursos extremamente interessantes para as empresas.</div>

                <div class="col-lg-12">
                  <div class="bs-example bs-example-tabs">
                    <ul id="myTab" class="nav nav-tabs">
                      <li class="active"><a href="#samba" data-toggle="tab">Servidor de Arquivo SAMBA</a></li>
                      <li class=""><a href="#nfs" data-toggle="tab">Servidor de Arquivos NFS</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                      <div class="tab-pane fade active in" id="samba"><p>Para ambiente corporativo onde as estações de trabalho são Windows, o servidor de arquivo linux com samba é uma excelente opção. Primeiramente porque o Samba é mais seguro que um servidor windows tradicional, pela sua própria arquitetura, pela rapidez com que a comunidade do samba lança as atualizações de segurança, porque os vírus no linux são raros, e também porque é possível utilizarmos diversas ferramentas que incrementam o nível de segurança nos compartilhamentos e aumentam o controle do administrador da rede.</p>

<p>Além disso, o modo pelo qual o Samba foi desenvolvido, faz com que ele tenha um desempenho muito superior ao Servidor Windows, com performance comprovada em diversos testes realizados.</p>

<p>Finalmente, para ambientes que precisam de alta disponibilidade e balanceamento de carga, quando unimos o Samba a ferramentas de alta disponibilidade, temos um servidor de arquivos em cluster, que faz loadbalance para atender as requisições de usuários, e em caso de queda de um dos nós, o serviço não é interrompido nem os usuários sentem alteração no funcionamento das aplicações.</p>

<p>Importante lembrarmos também, que o servidor de arquivos linux pode ser utilizado em ambientes híbridos, onde por exemplo, o Active Directory esteja presente, ou em ambientes totalmente linux, com o Samba.</p>
                      </div>

                      <div class="tab-pane fade" id="nfs"><p>O Network File System é há muito tempo largamente utilizado, seja como servidor de arquivos para ambientes Linux, ou no fornecimento de serviços de rede, para ambientes de alta disponibilidade.</p>
                      </div>
                    </div>
                  </div>

                </div>





          </div>
        </div>
      </div>

    </div>
    <br>
  </div>  
</div>  