<div class="col-lg-11">
    <div class="row areas-template">
      <div class="col-lg-12">
        <div class="bs-example bs-example-tabs">
          <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#sobre" data-toggle="tab">A Empresa</a></li>
            <li class=""><a href="#apsicologa" data-toggle="tab">Missão</a></li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="sobre"><p>Somos especializados no fornecimento de soluções para o mercado corporativo de T.I. nas áreas de infraestrutura de rede com foco em soluções de rede de alta disponibilidade, incluindo <strong>appliances, servidores e suporte</strong>.</p>

<p>Com experiência de mais de dez anos, percebendo as tendências de mercado e as dificuldades de empresas e profissionais em solucionar com qualidade diversos problemas.</p>

<p>Investindo primeiramente em capacitação técnica para interpretar, analisar e solucionar as necessidades de clientes e parceiros, unindo sempre o que há de mais novo em tecnologia à atividade do cliente.</p>

<p>A <strong>Cenário Virtual</strong> investe no tratamento personalizado a seus clientes, criando <strong>sempre</strong> uma relação de confiança e cordialidade nos diálogos comerciais. Nossa equipe sabe que a tecnologia por si só não é capaz de oferecer recursos para ampliação dos negócios. É preciso adequá-la ao foco de trabalho e às necessidades reais e previstas.</p>

<p>É nosso objetivo central solucionar com qualidade e auxiliar no crescimento dos clientes. <strong>Solucionar</strong> com qualidade significa utilizar todo o respaldo técnico e comercial, para desenvolver um projeto de melhor qualidade e que atenda plenamente aos requisitos do cliente.</p>
            </div>
            <div class="tab-pane fade" id="apsicologa">
               Garantir a redução de custos prestando serviços com confiança, segurança e flexibilidade.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>